.notif {
  position: absolute;
  transition: 1s;
  right: 0;
  bottom: -18px;
  background-color: black;
  color: white;
  padding: 1px;
  font-size: 10px;
}

.emailContainer {
  position: relative;
  text-decoration: underline;
}

.emailContainer:hover {
  scale: 1.1;
  transition: scale 0.2s;
  text-decoration: none;
  cursor: pointer;
}
