.notif {
  position: absolute;
  transition: 1s;
  right: 0;
  bottom: -18px;
  background-color: black;
  color: white;
  padding: 1px;
  font-size: 10px;
}

.emailContainer {
  position: relative;
}

.emailText {
  cursor: pointer;
}
