.headerContainer {
  display: grid;
  position: sticky;
  top: 0;
  grid-template-rows: 0.5fr 1.5fr 1fr;

  align-items: center;
  justify-content: flex-end;

  padding: 20px 15px 30px;
  flex-basis: 22%;
  grid-gap: 100px;

  @media screen and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    grid-gap: 50px;
  }
}

.aboutText {
  font-family: monospace;
  text-align: right;
  line-height: 1.8;
  font-size: 12px;
}

.sayHi {
  font-family: monospace;
  text-align: right;
  padding-top: 10px;
  font-size: 12px;
}

.links {
  display: flex;
  padding-top: 15px;
  flex-direction: column;
  justify-self: flex-end;
  align-items: flex-end;
  font-size: 16px;

  @media screen and (max-width: 1024px) {
    align-self: center;
    flex-direction: row;
    grid-gap: 20px;
    font-size: 14px;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
  }
}

.link {
  color: unset;
  text-decoration: none;
  padding: 2px 0;
  border-bottom: 1px solid white;
  cursor: pointer;
  transition: border 0.2s;
  &:hover {
    border-bottom: 1px solid #464545;
  }
}

.circle {
  padding: 3px 10px;
  cursor: default;
}

.aboutContainer {
  align-self: flex-end;

  @media screen and (max-width: 1024px) {
    display: none;
  }
  /* 
  @media screen and (max-width: 1024px) {
    align-self: center;
    width: 100%;
    border-top: 1px solid black;
  } */
}
