body {
  margin: 0;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.draggable {
  cursor: grab;
}

.draggable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.appContainer {
  display: flex;
  width: 100vw;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  height: 100vh;

  /* background: linear-gradient(
    309deg,
    #ebddff,
    #fbfbfb,
    #e1fbf3,
    #ffffff,
    #f0dffd
  );
  background-size: 1000% 1000%;

  -webkit-animation: gradientMorph 10s ease infinite;
  -moz-animation: gradientMorph 10s ease infinite;
  animation: gradientMorph 10s ease infinite; */
}

@-webkit-keyframes gradientMorph {
  0% {
    background-position: 0% 13%;
  }
  50% {
    background-position: 100% 88%;
  }
  100% {
    background-position: 0% 13%;
  }
}
@-moz-keyframes gradientMorph {
  0% {
    background-position: 0% 13%;
  }
  50% {
    background-position: 100% 88%;
  }
  100% {
    background-position: 0% 13%;
  }
}
@keyframes gradientMorph {
  0% {
    background-position: 0% 13%;
  }
  50% {
    background-position: 100% 88%;
  }
  100% {
    background-position: 0% 13%;
  }
}

@keyframes disableScroll {
  from {
    overflow-y: hidden;
  }
  to {
    overflow-y: scroll;
  }
}

.App {
  font-family: monospace;
  display: flex;
  position: relative;
  width: calc(100% - 25px);
  height: calc(100% - 25px);

  overflow-y: scroll;
  overflow-x: hidden;
  background: #ffffffab;

  margin: auto;

  box-sizing: border-box;
  border: 2px solid #464545;

  animation: disableScroll 4s;
}

@media screen and (max-width: 1024px) {
  .App {
    flex-direction: column;
    margin-top: 20px;
  }
}
