.pupil-outline-right {
  background-color: #ffffff;
  border: 3px solid #464545;
  height: 25px;
  width: 25px;
  top: 21px;
  left: 125px;

  right: 0;

  position: absolute;
  transform: scale(0.95);
  z-index: 100;

  border-radius: 50%;
  /* animation: 3s linear 1s infinite alternate none running pupilBreathe; */
}

.pupil-outline-right-two {
  background-color: #ffffff;
  border: 3px solid #464545;
  height: 25px;
  width: 25px;
  top: 21px;
  left: 97px;

  right: 0;

  position: absolute;
  transform: scale(0.95);
  z-index: 100;

  border-radius: 50%;
  /* animation: 3s linear 1s infinite alternate none running pupilBreathe; */
}

.pupil-outline-left {
  background-color: #ffffff;
  border: 3px solid;
  height: 25px;
  width: 25px;
  top: 20px;
  right: 0;
  left: -8px;

  position: absolute;
  transform: scale(0.95);
  z-index: 100;

  border-radius: 50%;
  /* animation: 3s linear 1s infinite alternate none running pupilBreathe; */
}

.pupil-outline-left-two {
  background-color: #ffffff;
  border: 3px solid #464545;
  height: 25px;
  width: 25px;
  top: 20px;
  right: 0;
  left: 20px;

  position: absolute;
  transform: scale(0.95);
  z-index: 100;

  border-radius: 50%;
  /* animation: 3s linear 1s infinite alternate none running pupilBreathe; */
}

.eye:after {
  /*pupil*/
  position: absolute;
  bottom: 5px;
  right: 0px;
  width: 10px;
  height: 10px;
  background: #464545;
  border-radius: 50%;
  content: ' ';
}

.left-outline {
  position: absolute;
  border: 3px solid #464545;
  background-color: transparent;
  width: 80px;
  height: 80px;
  border-radius: 50%;

  left: calc(50% - 170px);

  left: 0px;
  top: 0;

  z-index: 100;

  animation: 3s linear 1s infinite alternate none running slidein;
}

.right-outline {
  position: absolute;
  border: 3px solid #464545;
  background-color: transparent;

  width: 80px;
  height: 80px;
  border-radius: 50%;

  left: 65px;
  top: 0;
  z-index: 100;
}

.left-fill {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 6px;
  right: 0;

  /* background-color: #e6c9ff; */
  /* background-color: #e9d1e7; */
  background: linear-gradient(#d59fff, #e6d4e2);
  mix-blend-mode: multiply;
}

.right-fill {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 69px;
  right: 0;

  background: radial-gradient(#ffe8c7, #a1fff4);

  mix-blend-mode: multiply;
}

.logoContainer {
  position: relative;
  margin: 10px;
  height: 90px;
  width: 150px;
  justify-self: center;
}

.logoText {
  position: absolute;
  pointer-events: none;
  top: -29px;
  max-width: 119px;
  margin-left: 16px;
}
